# ================================
# Initialization
# ================================
# TODO: Move work bin/ and .env files into its own loading path
export PATH=$HOME/bin:$PATH
export PATH=$HOME/.dotfiles/bin:$PATH

{{ if eq .chezmoi.os "darwin" }}
# brew
if [ ! -f /opt/homebrew/bin/brew ]; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi
{{ end }}

# zellij
eval "$(zellij setup --generate-auto-start zsh)"

# atuin
eval "$(atuin init zsh --disable-up-arrow)"

# ================================
# Environment Variables
# ================================
export EDITOR="nvim"
export VISUAL="nvim"

# ================================
# Load system-specific scripts
# ================================
source $HOME/.dotfiles/setup/init.zsh
source $HOME/.dotfiles/aliases/init.zsh

{{ if eq .chezmoi.hostname "fer-mc" }}
source $HOME/.dotfiles/ruby/init.zsh
source $HOME/.dotfiles/work/init.zsh
{{ end }}

# starship prompt
eval "$(starship init zsh)"
